#button {
    -fx-background-image: url("unpressed.jpg");
    -fx-background-repeat: no-repeat;
}
#button:pressed {
    -fx-background-image: url("pressed.jpg");
    -fx-background-repeat: no-repeat;
}